<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample2-6</title>
</head>

<body>
  <!--
        th:inline="javascript" と書くことで，javascriptコード中にthymeleafを利用して変数をJavaから受け取ることができるようになる
        表示の際にはdocument.getElementByIdのようなDOM操作のAPIを利用し，値を表示する
        今回の場合 #num_list というIDを利用して操作している
        javascriptのDOM操作については適宜検索してみること
      -->
  <h1>Hello ArrayList and JavaScript!</h1>
  複数の値を処理してみよう
  <p>
    数字を2つ入れてみよう
  <form action="/sample26" method="post">
    最小値：<input type="number" name="min" />
    最大値：<input type="number" name="max" />
    <input type="submit" value="計算"><input type="reset" value="リセット">
  </form>

  <div>
    以下の数字をすべて加算すると(Thymeleafのfor-each)<br>
    <!-- sumRangeに配列として数値が入っている
        for each文としてすべての数値を表示する-->
    <span th:each="num:${sumRange}">
      [[${num}]]
    </span>
    <div>
      [[${sum}]]
    </div>
  </div>
  </p>
</body>

</html>
